:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  width: 100%;
  height: 100%;
}
/* 针对WebKit浏览器（Chrome, Safari, Edge等）的滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  /* 滚动条的宽度，可以根据需要调整 */
  height: 6px;
  /* 垂直滚动条的高度，这里不需要因为只修改了水平滚动条 */
  background-color: rgba(35, 43, 75, 0);
  /* 滚动条轨道的背景色，可以设置为与容器背景相近的颜色以隐藏 */
  border-radius: 4px;
  /* 使滚动条滑块看起来更圆滑 */
}

::-webkit-scrollbar-thumb {
  background-color: #d3d5d9;
  /* 滚动条滑块的颜色 */
  border-radius: 4px;
  /* 使滚动条滑块看起来更圆滑 */
// border: 2px solid transparent; /* 通过增加透明边框来减少滑块的实际可见宽度，从而使其看起来更细 */
  background-clip: padding-box;
  /* 确保边框不被背景色覆盖 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfc2c7;
  /* 滚动条滑块在悬停时的颜色，可以比正常时稍深一些 */
}
